@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var (--background-color): rgba(0, 0, 0, 0);
    }

    body {
        font-family: "Roboto Condensed", Microsoft JhengHei, sans-serif;
    }

    :root {
        --color500: #F51928
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        color: white;
    }

    ul li:hover {
        cursor: pointer;
        color: var(--color500);
    }


    header {
        display: flex;
        justify-content: center;
        gap: 220px;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: black;
        color: blue;
    }

    .header-content {
        max-width: 1500px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-principal {
        width: 160px;
        height: 30px;
        fill: #F51928;
        cursor: pointer;
    }

    .botones-derecha {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        height: 70px;
        align-items: center;
        gap: 30px;
    }

    .boton {

        border: none;
        padding: 0;
        border-radius: 0;
        background: none;
        display: inline;
        display: flex;
        justify-content: center;
    }

    .bi-search {
        color: rgb(255, 252, 252) 
        font-sizes: 20px;
    }

    .bi-search:hover {
        color: red;
    }

    .logo-login svg path {
        fill: white;
    }

    .logo-login svg:hover path {
        fill: red;
    }

    .divider-line {
        width: 1px;
        height: 24px;
        background-color: rgb(187, 186, 186);
    }
